<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to your location to provide location-based services</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to your location even when running in the background</string>
	<key>NSLocationUsageDescription</key>
	<string>This app needs access to your location to provide location-based features</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs access to the microphone to record audio</string>
	<key>UNAuthorizationOptions</key>
	<array>
		<string>alert</string>
		<string>badge</string>
		<string>sound</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>This app would like to show you local notifications</string>
</dict>
</plist>
